* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav */
nav {
    background-color: #DFDACE;
    border-bottom: solid 5px#9E2218;
    text-align: center;
    height: 90px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

.search {
    width: 100%;
}

#searchbar {
    width: 60%;
    border: solid 2px #9E2218;
    border-radius: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    transition: .2s
}

#searchbar:focus {
    border: solid 2px #d42418;
}

.logo {
    width: 200px;

}

.botoes {
    display: flex;
    justify-content: center;
    width: 200px;

}

.botoes a {
    color: black;
    margin: 0px 5px;
    font-size: 1.2em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    transition: .2s;
}

.botoes a:hover {
    background-color: #d42418;
}

/* Subcontainer */
#subcontainer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: -5px;
}

#subcontainer li a {
    text-decoration: none;
    color: black;
    transition: .2s;
    font-weight: 500;
}

#subcontainer li a:hover {
    color: #d42418;
}



/* Main */
article {
    width: 1170px;
    margin: 0 auto;
}

.produto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.imagem {
    width: 540px;
    height: 540px;
    border: solid 3px #9E2218;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.171);
    margin: 20px;
}

.imagem img {
    width: 100%;
    border-radius: 10px;
}

.menu {
    width: 540px;
    height: 540px;
    background-color: #DFDACE;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.171);
    margin: 20px;
    text-align: center;
    padding-top: 50px;
}

.menu p {
    width: 90%;
    height: 40px;
    background-color: #C3B89E;
    border-radius: 5px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.171);
    transition: .2s;
    font-size: 1.25em;
    flex-wrap: nowrap;
    overflow: hidden;
}
.menu p:hover{
    background-color: white;
}

.menu b {
    margin: 0px 5px;
    color: #9E2218;
}

#adicionar a {
    color: white;
    font-weight: bold;
    text-decoration: none;

}

#adicionar {
    width: 250px;
    height: 60px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-radius: 50px;
    transition: .2s;
    cursor: pointer;
}
#adicionar:hover{
    transform: scale(1.05);
}

#adicionarbtn{
    border: none;
    background-color: transparent;
    transition: .2s;
    color: white;
    width: 200px;
    height: 60px;
    text-align: center;
}


main {
    min-height: 520px;
    text-align: center;
}
.desc{
    width: 1120px;
    background-color: #DFDACE;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.171);
}
.desc h4{
    font-weight: bold;
    color: #9E2218;

}

/* Footer */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #DFDACE;
    border-top: 5px #9E2218 solid;
    text-align: center;
    bottom: 0;
}

footer ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content: center;
}

footer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #9E2218;
    border-radius: 100px;
    font-size: 1.3em;
    margin: 0px 10px;

}

footer ul li a {
    color: #ec6960;
}

.autor {
    font-size: 0.5em;
    color: gray;
}

footer p {
    margin: 0px;
    padding: 5px;
}